LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [13]:
def lesser_num(a,b):
    if a % 2 == 0 and b % 4 == 0:
        return min(a,b)
    else:
        return  max(a,b)

In [14]:
lesser_num(30,4)

4

In [15]:
lesser_num(30,40)

30

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [9]:
def animal_crak(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [10]:
animal_crak('hello ham')

True

In [12]:
animal_crackers('good Bum')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [3]:
def make_twenty(a,b):
    if  a+b == 20 or a == 20 or b == 20:
        return True 
        return False

In [4]:
make_twenty(20,4)

True

In [5]:
make_twenty(13,7)

True

In [11]:
make_twenty(1000,-80)

In [10]:
make_twenty(26,6)

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [24]:
def kilimanjaro(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Nameis too short'

In [26]:
kilimanjaro('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed

In [27]:
def m_yoda(word):
    return ' '.join(word.split()[::-1])

In [28]:
m_yoda('my name is uzo')

'uzo is name my'

In [30]:
m_yoda('just mastered yoda')

'yoda mastered just'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [42]:
def almost_the(num):
    return ((abs(100 - num) <= 10) or (abs(200 - num) <= 10))

In [43]:
almost_the(104)

True

In [45]:
almost_the(140)

False

######

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [58]:
def has_33(num):
    for k in range(0, len(num)-1):
        if num[k] == 3 and num[k+1] == 3:
            return True
        
    return False

In [60]:
has_33([1,2,3,4])

False

In [64]:
has_33([3,2,3,4])

False

In [65]:
has_33([1,3,3,4])

True

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [17]:
def p_roll(char):
    for chr in char:
        return chr*3 and char*3

In [18]:
p_roll('hoshpopi')

'hoshpopihoshpopihoshpopi'

In [19]:
p_roll('gooddy')

'gooddygooddygooddy'

In [12]:
def paper_doll(text):
    result =''
    for chr in text:
        result += chr*3
    return result

In [21]:
paper_doll('guddybag')

'ggguuuddddddyyybbbaaaggg'

In [22]:
paper_doll('africanone')

'aaafffrrriiicccaaannnooonnneee'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST

In [58]:
def B_jack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <= 21 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'Bust'

In [59]:
B_jack(1,3,7)

11

In [60]:
B_jack(3,6,7)

16

In [61]:
B_jack(9,9,9)

'Bust'

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [74]:
def sum_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [75]:
sum_69([3,5,3])

11

In [76]:
sum_69([1, 3, 5])

9

In [77]:
sum_69([7,9,2])

18

In [78]:
sum_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [81]:
def spy_g(num):
    code = [0,0,7,'x']
    for cuz in num:
        if num ==code[0]:
            code.pop(0)
    return len(code) == 1

In [82]:
spy_g([1,2,4,0,0,7,5])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

In [83]:
def count_p(num):
    prime = [2]
    x =3
    if num < 2:
        return 0
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            prime.append(x)
            x += 2
    print(prime)
    return len(prime)

In [84]:
count_p(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [ ]:
0

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter

In [118]:
def p_big(cruz):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[cruz.upper()]:
        print(patterns[pattern])

In [137]:
p_big('a')

  *
 * *
*****
*   *
*   *

In [133]:
p_big('c')

*****
*
*
*
*****