In [1]:
'hello'

'hello'

In [2]:
"hello"

'hello'

strings

In [3]:
print ('i am python man')

i am python man

In [4]:
print('hello /n friends')

hello /n friends

In [5]:
print ('hello \n friends')

hello
 friends

In [9]:
print ('hello \n guys')

hello
 guys

In [10]:
print ('hi \guys')

hi \guys

In [12]:
len('i am not hungry')

15

In [16]:
mtstring = "Hello World"

In [17]:
mtstring

'Hello World'

In [18]:
mtstring[8]

'r'

Indexing

In [21]:
mtstring [-5]

'i'

In [22]:
mtstring[-7]

'F'

Slicing

In [23]:
mystring = 'abcdefghijk'

In [24]:
mystring

'abcdefghijk'

In [25]:
mystring[4:]

'efghijk'

In [26]:
mystring[:4]

'abcd'

In [27]:
mystring[0:3]

'efghijk'

In [29]:
mystring[3:6]

'def'

In [30]:
mystring[1:7]

'bcdefg'

step size

In [31]:
mystring[::2]

'acegik'

In [32]:
mystring[::3]

'adgj'

In [33]:
mystring[::-1]

'kjihgfedcba'

In [34]:
mystring[2:4:3]

'c'

In [20]:
string = 'tinker'

In [21]:
string[0:3]

'tin'

In [22]:
string[1:4]

'ink'

immutability of strings

In [23]:
name = 'chris'

In [24]:
# name[0] = 'k'

In [26]:
last_name =name[2:]

In [27]:
last_name

'ris'

In [28]:
# to concatinate k in the later abover u plus k

In [29]:
last_name + 'k'

'risk'

In [31]:
'k' + last_name

'kris'

In [32]:
x = 'how are you doing'

In [35]:
x + " you look great though"

'how are you doing you look great though'

In [45]:
x = x + " you look great though"

In [46]:
x

'how are you doing you look great though you look great though you look great though you look great though'

In [44]:
x

'how are you doing you look great though you look great though you look great though'

In [48]:
kul = 'r'

In [49]:
kul *20

'rrrrrrrrrrrrrrrrrrrr'

In [50]:
4+6

10

In [51]:
'4'+ '6'

'46'

In [52]:
x = 'achonwa ebuka chris'

In [53]:
x.upper()

'ACHONWA EBUKA CHRIS'

In [54]:
x.lower()

'achonwa ebuka chris'

In [55]:
x.upper

In [56]:
x.upper()

'ACHONWA EBUKA CHRIS'

In [57]:
x.split()

['achonwa', 'ebuka', 'chris']

In [58]:
#Strings are not mutable! (meaning you can't use indexing to change individual elements of a string)

formating with the .format() method

In [59]:
print('Obi is no longer a {}'.format('boy'))

Obi is no longer a boy

In [61]:
print('bisi is a {}{}{}'.format('fine',' village',' girl'))

bisi is a fine village girl

In [63]:
print(' {1}{0}{2}'.format('fine',' villag ',' girl'))

  villag fine girl

In [65]:
print(' {1}{2}{0}'.format('fine',' villag ',' girl '))

  villag  girl fine

In [67]:
print(' {0}{0}{2}'.format('fine ',' villag ',' girl '))

 fine fine  girl

In [68]:
print(' {v}{g}{f}'.format(f='fine ',v =' villag ',g =' girl '))

  villag  girl fine

In [70]:
# float formatting

In [71]:
result = 2000/48

In [72]:
result

41.666666666666664

In [78]:
print ("the answer was {r:1.3f}".format(r= result))

the answer was 41.667

In [79]:
# new type of F string i 3.6

In [9]:
name = 'uzonna'

In [10]:
print(f'hi meet my friend, his name is {name}')

hi meet my friend, his name is uzonna

In [5]:
name ='kris'
age = '23'
colour = 'black'

In [6]:
print(f'his is {name} he is {age} years old he is a {colour}')

his is kris he is 23 years old he is a black

In [8]:
print(f'his is {name}  is {age} years old he is a {colour}')

his is kris  is 23 years old he is a black

In [11]:
#LISTS "ordered sequences that holds a variety and object"

In [3]:
my_age = [1,2,3,4]

In [4]:
my_age = ['STRING',100,300]

In [5]:
len(my_age)

3

In [6]:
my_lenz = ['one','two','three']

In [7]:
my_lenz[1]

'two'

In [8]:
my_lenz[1:]

['two', 'three']

In [9]:
my_lenz[-1]

'three'

In [10]:
my_lenz[0:]

['one', 'two', 'three']

In [11]:
my_lenz

['one', 'two', 'three']

In [12]:
mygaz =['four','five','six']

In [13]:
my_jip = my_lenz + mygaz

In [14]:
my_jip

['one', 'two', 'three', 'four', 'five', 'six']

In [15]:
mygaz

['four', 'five', 'six']

In [16]:
my_lenz

['one', 'two', 'three']

In [17]:
my_jip

['one', 'two', 'three', 'four', 'five', 'six']

In [18]:
my_jip[2]= 'five is a goal'

In [19]:
my_jip

['one', 'two', 'five is a goal', 'four', 'five', 'six']

In [20]:
# Append is used to the end of a list

In [21]:
my_jip.append('seven')

In [22]:
my_jip

['one', 'two', 'five is a goal', 'four', 'five', 'six', 'seven']

In [23]:
#removing items we use the poop

In [24]:
my_jip.pop()

'seven'

In [25]:
my_jip

['one', 'two', 'five is a goal', 'four', 'five', 'six']

In [26]:
poped = my_jip.pop()

In [27]:
poped

'six'

In [28]:
my_jip

['one', 'two', 'five is a goal', 'four', 'five']

In [29]:
my_jip.pop(2)

'five is a goal'

In [30]:
my_jip

['one', 'two', 'four', 'five']

In [ ]:
#sorting

In [31]:
new_list=['a','d','e','b','c']
num_line=[4,5,3,6,7]

In [32]:
new_list.sort()

In [33]:
new_list

['a', 'b', 'c', 'd', 'e']

In [34]:
num_line.sort()

In [35]:
num_line

[3, 4, 5, 6, 7]

In [36]:
new_list.reverse()

In [37]:
new_list

['e', 'd', 'c', 'b', 'a']

In [38]:
num_line.reverse()

In [39]:
num_line

[7, 6, 5, 4, 3]

In [40]:
#Dictionaries "Dictionaries are unordered mapping for storing objects."

In [41]:
# Dictionaries are objects retrieved by key name.

In [42]:
# LIST  are object retrieved by location. Ordered sequence can be indexed or sliced

In [44]:
# DICTIONARIES

In [49]:
my_dict = {'mi6':'England','CIA':'USA','KGB':'Russia'}

In [52]:
my_dict ['KGB']

'Russia'

In [61]:
my_dict ['mi6']

'England'

In [62]:
myprice={'orange':50.00,'garri':70.00,'mango':40.00}

In [84]:
myprice['garri']

70.0

In [2]:
z={'h3':419,'g3':{'kenny':[288,33,366,88]}, 'c0':{'dad':[28,16,386,] ,'mum':['a','b','c','d']},}

In [4]:
z['g3']['kenny'][3]

88

In [109]:
z['c0']['dad'][2]

386

In [5]:
z['c0']['dad'] = 28,16,386,

In [7]:
z['c0']

{'dad': (28, 16, 386), 'mum': ['a', 'b', 'c', 'd']}

In [120]:
z['c0']['mum'][3]

'd'

In [121]:
z['c0']['mum'][3].upper()

'D'

In [122]:
z['c0']['mum'][1].upper()

'B'

In [123]:
z

{'h3': 419,
 'g3': {'kenny': [288, 33, 366, 88]},
 'c0': {'dad': (28, 16, 386), 'mum': ['a', 'b', 'c', 'd']},
 'h5': (696, 619, 717)}

In [117]:
# to add a new key to the dictionary you take the step below

In [115]:
z['h5'] = 696,619,717

In [116]:
z

{'h3': 419,
 'g3': {'kenny': [288, 33, 366, 88]},
 'c0': {'dad': (28, 16, 386), 'mum': ['a', 'b', 'c', 'd']},
 'h5': (696, 619, 717)}

In [124]:
# to add a value you follow the stap below

In [125]:
z['h3'] = 'Oga',4110

In [126]:
z

{'h3': ('Oga', 4110),
 'g3': {'kenny': [288, 33, 366, 88]},
 'c0': {'dad': (28, 16, 386), 'mum': ['a', 'b', 'c', 'd']},
 'h5': (696, 619, 717)}

In [127]:
z.keys()

dict_keys(['h3', 'g3', 'c0', 'h5'])

In [128]:
z.values()

dict_values([('Oga', 4110), {'kenny': [288, 33, 366, 88]}, {'dad': (28, 16, 386), 'mum': ['a', 'b', 'c', 'd']}, (696, 619, 717)])

In [129]:
z.items()

dict_items([('h3', ('Oga', 4110)), ('g3', {'kenny': [288, 33, 366, 88]}), ('c0', {'dad': (28, 16, 386), 'mum': ['a', 'b', 'c', 'd']}), ('h5', (696, 619, 717))])

In [1]:
# Tuples this is like a list but it uses parenthesis , an once an element is in tuples it can not be reasigned.

In [2]:
t =(1,2,3,4)

In [3]:
u =[1,2,3,4]

In [5]:
# to check the type

In [6]:
type(t)

tuple

In [7]:
type(u)

list

In [8]:
len(t)

4

In [10]:
#inbuilt fuct in tuple 'count' and 'index'

In [11]:
t= ('g','f','s','f','f','g')

In [13]:
t.count('f')

3

In [14]:
t.index('s')

2

In [15]:
u

[1, 2, 3, 4]

In [16]:
u[0] = 'can'

In [17]:
u

['can', 2, 3, 4]

In [18]:
#you cant do the above in tuples that is why is immutable

In [20]:
#Sets in python this is a unordered collection of uique elements. if you have a number i ur set you cant repeat the order agian

In [21]:
myset = set()

In [22]:
myset

set()

In [23]:
myset.add(12)

In [24]:
myset

{12}

In [29]:
myset.add(55)

In [30]:
myset

{12, 55}

In [31]:
# you cant add a value that is already in

In [13]:
mymic = [1,1,1,1,3,3,3,4,4,4,4]

In [14]:
set(mymic)

{1, 3, 4}

In [9]:
vu=['m','e','s','s','i','s','i','p','p','i']

In [10]:
set(vu)

{'e', 'i', 'm', 'p', 's'}

In [36]:
#BOOLEANS best use when doing cotrol flow and logic. also capitalize the T and F

In [37]:
True

True

In [38]:
False

False

In [39]:
1>3

False

In [40]:
 1 == 3

False

In [41]:
1 == 1

True

In [42]:
type(False)

bool

In [44]:
#FILES creat a text files

In [47]:
%%writefile myfile.txt
Hello friends this is our file
this is the octopus
Aego the tigarian

Writing myfile.txt

In [48]:
myfile = open('myfile.txt')

In [49]:
pwd

'C:\\Users\\Owner\\Desktop\\AnacondaF'

In [50]:
myfile = open('myfile.txt')

In [51]:
myfile.read()

'Hello friends this is our file\nthis is the octopus\nAego the tigarian'

In [52]:
myfile.read()

''

In [53]:
# reason why this happend is cos u have read it before so if u wat to read agian u seek 0

In [54]:
myfile.seek(0)

0

In [55]:
myfile.read()

'Hello friends this is our file\nthis is the octopus\nAego the tigarian'

In [56]:
myfile.readlines()

[]

In [58]:
myfile.seek(0)

0

In [59]:
myfile.readlines()

['Hello friends this is our file\n',
 'this is the octopus\n',
 'Aego the tigarian']

In [61]:
myfile.close()

In [68]:
%%writefile newfile.txt
OBI IS A BOY
ADA IS A GIRL
BOTH ARE KID
BUT NOT SIBLINGS

Overwriting newfile.txt

In [69]:
with open('newfile.txt', mode='r') as f:
    print(f.read())

OBI IS A BOY
ADA IS A GIRL
BOTH ARE KID
BUT NOT SIBLINGS

In [70]:
with open('newfile.txt', mode='a') as f:
    f.write('\nBOTH ARE CLASSMATE')

In [71]:
with open('newfile.txt', mode='r') as f:
    print(f.read())

OBI IS A BOY
ADA IS A GIRL
BOTH ARE KID
BUT NOT SIBLINGS
BOTH ARE CLASSMATE

In [72]:
with open('newgig.txt', mode='w') as f:
    f.write('TABLE ABOUT ADA AND OBI')

this overwrites the word you have

In [74]:
with open('newgig.txt', mode='r') as f:
    print(f.read())

TABLE ABOUT ADA AND OBI

In [1]:
lst=[0,1,2]

In [2]:
lst.pop()

2